.login {
    padding: 1rem;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--surface-800);
}

.header {
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    display: flex;

    img {
        width: 120px;
        height: auto;
    }
}